postgres:
    host: localhost
    port: 5432
    user: db_user
    password: my_secret_password
    db_name: lunchbot

# API-Login for https://canteen.13.94.125.68.xip.io/api
sti-api:
    user: api_user
    password: api_password